# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [2]:
def my_function():
    print('Hello World')
    
my_function() #Calling the function to get output

Hello World

In [4]:
def my_function2():
    print(8*2)
my_function2()

16

### Why we need function?

In [6]:
print('2001 Newburg Rd')
print('2001 Newburg Rd')
print('2001 Newburg Rd')
print('2001 Newburg Rd')
print('2001 Newburg Rd')

2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd

In [7]:
def address():
    print('2001 Newburg Rd')
address()
address()
address()
address()
address()

2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [8]:
def squared(number):
    return(number**2)
squared(3)

9

In [14]:
def cube(num):
    return(num**3)
cube(3)

27

## Our own functions for practice
`Echo` that will act same as print

In [17]:
def echo(data):
    return data
echo('Hello')

'Hello'

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [19]:
def favorite_book(title):
    print(title + ' is one of my favorite books.')
favorite_book('The Wizard of Oz')

The Wizard of Oz is one of my favorite books.

In [20]:
def favorite_book(title):
    message= title + ' is one of my favorite books.'
    return(message) # return only works for one object; cannot concatinate
favorite_book('The Wizard of Oz')

'The Wizard of Oz is one of my favorite books.'

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [21]:
def calc_MPG(miles_driven, gallons_used):
    return(miles_driven/gallons_used)

In [22]:
calc_MPG(100,3)

33.333333333333336

In [23]:
calc_MPG(200,5)

40.0

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [29]:
def MPG(miles_driven=200, gallons_used=12):
    gallons_used=11
    miles_driven=300
    return (miles_driven/gallons_used)

In [30]:
MPG()

27.272727272727273

In [31]:
MPG(miles_driven=400) # this changes the def value, not the override below it: replaces 200 not 300

27.272727272727273

###  Function repeat using `for` loop

In [32]:
def repeat_echo(data,count):
    for i in range(count):
        print(data)

In [33]:
repeat_echo('2001 Newburg Rd', 5)

2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd
2001 Newburg Rd

## Practice: Define a function called `name` and print your name 20 times using the function

In [35]:
def name(value,count):
    for i in range(count):
        print(value)
name('Zach', 20)

Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach
Zach

### Write a function to find maximum of three values

In [1]:
max(23,56,78)

78

In [2]:
def maximum(a,b,c):
    if a>=b and a>=c:
        largest=a
    elif b>=a and b>=c:
        largest=b
    elif c>=a and c>=b:
        largest=c
    return largest

In [3]:
maximum(23,45,12)

45

In [4]:
maximum(110,25,89)

110

### Practice Example: Define `minimum` function of three values

In [5]:
def minimum(a,b,c):
    if a<=b and a<=c:
        smallest=a
    elif b<=a and b<=c:
        smallest=b
    elif c<=a and c<=b:
        smallest=c
    return smallest

In [6]:
minimum(31,57,45)

31

In [7]:
minimum(19,800,11)

11

In [8]:
minimum(13,67,1)

1

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [10]:
def addition(*args):
    return sum(args)

In [11]:
addition(10,23,45,67)

145

In [12]:
addition(12,23,34,45,56,67,89)

326

In [14]:
# mean of numbers
def get_mean(*args):
    return sum(args)/len(args)

In [15]:
get_mean(3,4,5)

4.0

In [16]:
get_mean(1,2,3,4,5,12,34,15,16,20)

11.2

### Arbitary Argumented list with list

In [19]:
numbers=[34,56,78,99]
get_mean(*numbers)

66.75

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [20]:
x=10 # global variable
def scope_of_function(num):
    return num*2    # num is local variable
scope_of_function(20)

40

In [21]:
x

10

In [22]:
num

NameError: name 'num' is not defined

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [23]:
x=10
def try_to_modify_global():
    x=3.5
    print(x)
try_to_modify_global()

3.5

In [24]:
x

10

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [26]:
x=10
def modify_global():
    global x
    x=3.5
    print(x)
modify_global()

3.5

In [27]:
x

3.5

## Write functions to find out Area and Perimeter of circle

In [28]:
from math import pi
pi

3.141592653589793

In [31]:
def area_of_circle(r):
    return pi*(r**2)
def perimeter_circle(r):
    return 2*pi*r

r=int(input('Enter the value of radius: '))
print('The area of the circle is ', round(area_of_circle(r)))
print('The perimeter of the circle is ', round(perimeter_circle(r)))

Enter the value of radius: 100
The area of the circle is  31416
The perimeter of the circle is  628

## Write functions to find out Area and Perimeter of rectangle

In [35]:
def area_rectangle(h,w):
    return h*w
def perimeter_rectangle(h,w):
    return (2*h)+(2*w)

h=int(input('Enter the height of the rectangle: '))
w=int(input('Enter the width of the ractangle: '))
print('The area of the ractangle is ', area_rectangle(h,w))
print('The perimeter of the rectangle is ', perimeter_rectangle(h,w))

Enter the height of the rectangle: 16
Enter the width of the ractangle: 4
The area of the ractangle is  64
The perimeter of the rectangle is  40

## Random Number Generation
* Can introduce the element of chance via the Python Standard Library’s `random` module.

* `randrange` function generates an integer from the first argument value up to, but not including, the second argument value.
* Different values are displayed if you re-execute the loop.
* random.randrange where `random` is module and `randrange` is method

In [39]:
import random
x=random.randrange(10,20)
print(x)

13

In [41]:
# Filling an empty list with random numbers
list=[]
for i in range(10):  #10 entries to the list
    x=random.randrange(1,20) #numbers between 10 and 19
    list.append(x)
print(list)

[14, 10, 17, 14, 3, 15, 6, 1, 17, 16]

## Create a list with 20 numbers in the range of 30 to 50

In [47]:
list1=[]
for i in range(20):
    x=random.randrange(30,51)
    list1.append(x)
print(list1)

[40, 35, 38, 38, 43, 34, 49, 46, 47, 31, 36, 42, 31, 35, 44, 47, 41, 35, 42, 34]

### Guess the number between 1 to 10

In [50]:
import random
number=random.randint(1,10) # 10 is included in randint
entered_number=None
time=1
while entered_number!=number:
    entered_number=int(input('Enter a number between 1 and 10: '))
    if entered_number==number:
        print('You won! ', 'You took ', time, 'chances')
    else:
        print('Try again')
    time=time+1

Enter a number between 1 and 10: 2
Try again
Enter a number between 1 and 10: 5
Try again
Enter a number between 1 and 10: 6
Try again
Enter a number between 1 and 10: 7
Try again
Enter a number between 1 and 10: 8
Try again
Enter a number between 1 and 10: 9
You won!  You took  6 chances